# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0
/.vs/Demo_Git/v15/Server/sqlite3
/.vs/config
